.grid-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  transform: translateX(200px) translateY(-100px);
}

.grid-column {
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: rotate(-35deg);
}

.carousel-track {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.scroll-up {
  animation: scroll-up 10s linear infinite;
}

.scroll-down {
  animation: scroll-down 10s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  width: 200px;
  height: auto;
  display: block;
}
